<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cslong.app.lifetools">

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".datastructures_algorithms.simple_series.DataStructuresAndAlgorithmsActivity">

        </activity>

        <activity
            android:name=".lifetools_business.LifeToolsActivity"
            android:label="业务入口"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>

        <activity
            android:name=".annotationDemo.AnnotationDemoActivity"
            android:label="注解介绍"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>

        <activity
            android:name=".designpatterndemo.SingleInstanceActivity"
            android:label="单例介绍"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>

        <!---->

        <activity android:name="com.cslong.app.basic_exercises.component.fragment.FragmentPracticeActivity">

        </activity>

    </application>

</manifest>